@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light, dark;
}

@layer utilities {
    .bg-mersdusud {
        background-color: #00CCCB;
    }
}


@theme {
    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


h1 {
    color: #043462;
}

.primary-submit {
    @apply mt-5 w-full rounded-md px-4 py-2 font-medium text-white transition-colors;
    background: #0ee1cc;
    cursor : pointer;
}

.primary-submit:not(:disabled):hover {
    background: #043462;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover {
    opacity: 0.5;
}

button,
.btn,
[role="button"] {
    cursor: pointer;
}

button:not(:disabled),
.btn:not(:disabled),
[role="button"] {
    cursor: pointer;
}

.welcome-message {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #043462;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #00CCCB;
    text-underline-offset: 0.35em;
    text-decoration-thickness: 3px;
}